// range style
.volume {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  // border: 1px solid red;
  // border-radius: 5px;
}

input[type="range"] {
  appearance: none;
  border-radius: 10px;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  cursor: pointer;
  border-radius: 10px;
  // background: linear-gradient(90deg, rgb(110, 239, 120) 40%, $gray-600 40%);
}

input[type="range"]::-webkit-slider-thumb {
  // border: 1px solid $gray-600;
  height: 12px;
  width: 12px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
  border-radius: 50%;
}
