.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 600px;
  height: 30px;
  border: 1px solid grey;

  &__pointer {
    width: 15px;
    height: 15px;
    background-color: transparent;
    z-index: 3;
    display: flex;
    position: absolute;
    left: 0;
    top: calc(50% - 8px);
    z-index: 999;
    border-radius: 15px;
    pointer-events: none;
  }

  &:hover > &__pointer {
    background-color: rgb(7, 126, 5);
  }

  &__bar {
    width: 600px;
    height: 10px;
    background-color: #d9d9d9;
    display: flex;
    border-radius: 50px;
    overflow: hidden;
    cursor: ew-resize;
    transition: all 0.5s ease-in-out;

    &:active {
      height: 30px;
    }

    &--fill {
      width: 30px;
      height: inherit;
      background: rgb(110, 239, 120);
      z-index: 2;
      display: flex;
    }
  }
}
