.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  // position: relative;
  // max-width: 800px;
  width: 100%;
  height: 30px;
  background-color: transparent;

  &__bar {
    width: 96%;
    height: 5px;
    background-color: $gray-600;
    display: flex;
    border-radius: 50px;
    // overflow: hidden;
    cursor: ew-resize;
    transition: all 0.2s ease-in-out;
    position: relative;

    &__pointer {
      height: 12px;
      width: 12px;
      background: #ffffff;
      cursor: pointer;
      z-index: 3;
      display: flex;
      position: absolute;
      top: calc(50% - 6px);
      z-index: 999;
      border-radius: 12px;
      pointer-events: none;
    }

    &--fill {
      height: inherit;
      background: $green;
      z-index: 2;
      display: flex;
      border-radius: 12px;
    }
  }
}
